footer {
    background-color: var(--yellow-colors);
    margin-top: 40px;
    padding: 15px 0px;
}
footer h1 {
    color: var(--red-color);
    font-size: 15px;
}
.flecha i {
    background-color: black;
    border-radius: 50%;
    padding: 5px;
    color: var(--yellow-colors);
    position: fixed;
    bottom: 15px;
    right: 10px;
}